<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/adminCSS.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    {{!-- Awsome font 5 --}}
    <script src="https://kit.fontawesome.com/6aed72ae58.js"></script>
    {{{_sections.css}}}
</head>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo mr-5" href="/"><img
                        src="https://demo.tagdiv.com/newspaper/wp-content/uploads/2018/08/logo-header.png"
                        class="mr-2" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="/"><img
                        src="https://demo.tagdiv.com/newspaper/wp-content/uploads/2018/08/logo-header.png"
                        alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <img src="https://www.seoclerk.com/pics/558390-11FO8A1505384509.png" alt="profile" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                            aria-labelledby="profileDropdown">
                            <a class="dropdown-item">
                                <i class="text-primary fas fa-cog"></i>
                                Settings
                            </a>
                            <a class="dropdown-item">
                                <i class="text-primary fas fa-power-off"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- sidebar -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">
                            <i class="menu-icon fas fa-chart-line"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false"
                            aria-controls="ui-basic">
                            <i class="menu-icon fas fa-pencil-ruler"></i>
                            <span class="menu-title">Post</span>
                        </a>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="/admin/draft">Draft</a></li>
                                <li class="nav-item"> <a class="nav-link" href="/admin/published">Published</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/tags">
                            <i class="menu-icon fas fa-tags"></i>
                            <span class="menu-title">Tags</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-basic-1" aria-expanded="false">
                            <i class="menu-icon fas fa-users"></i>
                            <span class="menu-title">Users</span>
                        </a>
                        <div class="collapse" id="ui-basic-1">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="/admin/users/all">All</a></li>
                                <li class="nav-item"> <a class="nav-link" href="/admin/users/premium">Premium</a></li>
                                <li class="nav-item"> <a class="nav-link" href="/admin/users/writer">Writer</a></li>
                                <li class="nav-item"> <a class="nav-link" href="/admin/users/editor">Editor</a></li>
                                <li class="nav-item"> <a class="nav-link" href="/admin/users/admin">Admin</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- sidebar-end -->
            <!-- main -->
            <div class="main-panel">
                <div class="content-wrapper">
                    {{{body}}}
                </div>
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a
                                href="https://www.templatewatch.com/" target="_blank">Templatewatch</a>. All rights
                            reserved.</span>
                    </div>
                </footer>
            </div>
            <!-- main-end -->
        </div>
    </div>
    <!-- container-scroller -->
    {{{_sections.js}}}
</body>

</html>