{{#section 'js'}}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"></script>
<script>
    $(function () {
        tinymce.init({
            selector: '#postContent',
            height: 500,
            menubar: false,
            plugins: 'paste image link autolink lists table media',
            toolbar: [
                'undo redo | bold italic underline strikethrough | numlist bullist', 'forecolor backcolor', 'table link image media',
            ]
        });
    });
</script>
{{/section}}
<div class="container my-5">
    <div class="container-post-info shadow-lg bg-light p-3">
        <form method="POST">
            <div class="form-group">
                <label><b>Title:</b></label>
                <input type="text" class="form-control" name="title" placeholder="Title">
            </div>
            <div class="row form-group">
                <div class="col form-group">
                    <label><b>Tags:</b></label>
                    <select class="custom-select" name="tags">
                        <option selected>News</option>
                        <option>Phones</option>
                        <option>&emsp;iOS</option>
                        <option>&emsp;Android</option>
                        <option>Laptops</option>
                        <option>&emsp;Asus</option>
                        <option>&emsp;Dell</option>
                        <option>&emsp;HP</option>
                        <option>&emsp;MSI</option>
                        <option>Technology</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label><b>Description:</b></label>
                <textarea rows="3" class="form-control" name="description"></textarea>
            </div>
            <div class="form-group">
                <label><b>Header picture:</b></label>
                <input type="file" class="form-control-file">
            </div>
            <div class="form-group">
                <label><b>Content:</b></label>
                <textarea class="form-control" id="postContent" name="content"></textarea>
            </div> 
            <div class="form-group">
                <button id="savePost" type="submit" class="btn btn-primary fixed-bottom">Save</button>
            </div>   
        </form>
    </div>

</div>