<div class="post-picture">
    <img src="https://i.imgur.com/lucRZ5R.png" alt="ERROR">
</div>
<div class="container px-5">
    <!-- News into categories -->
    <div class="row my-4">
        <!-- Post content -->
        {{#each this.content}}
        {{{Content}}}
        {{/each}}

    </div>
</div>